header{
	div.container{
		position:relative;
		div.logo{
			width:100%;
			text-align:center;
			padding:17px 0;
			img{
			}
		}
		div.navigation{
			text-align:center;
			background: #f0f0f0;
			p{
				@include setFont(12px,#595757,500,$font-gothic);
				padding:7px 0;
			}
		}
		div.slide{
			width:100%;
			img{
				width:100%;
			}
		}
		a.button{
			background:#FFFFFF;
			text-align:center;
			position:absolute;
			top:16px;
			right:24px;
			display:inline-block;
			width:48px;
			height:48px;
			border:1px solid #595757;
			box-sizing:border-box;
			i{
				line-height:48px;
				@include setFont(30px,#595757);
			}
		}
	}
}
