@import "mixin";
$device_size_large : 990px;
$device_size_medium : 784px;
$device_size_small : 450px;
$device_size_769  :769px;
$device_size_768 :768px;
/*	=========================================================================================
	LARGE DEVICES
	========================================================================================= */
@import "size_large";
/*	=========================================================================================
	MEDIUM DEVICES
	========================================================================================= */
@import "size_medium";
/*	=========================================================================================
	SMALL DEVICES
	========================================================================================= */
@import "size_small";

/* ========================================================================================= */
@import "size_768";
